<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include('./includes/bootstrapcss') %>
        <link rel="stylesheet" href=<%=css %>>
        <title>
            <%= title %>
        </title>
</head>

<body>

    <%- include('./includes/header') %>
        <div class="wrapper">
            <%- content %>
        </div>
        <%- include('./includes/footer') %>
            <%- include('./includes/bootstrapjs') %>
</body>

</html>