<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%- include('../../includes/bootstrapcss') %>
    <link rel="stylesheet" href=<%=css %>>
    <title>
      <%= title %>
    </title>
</head>

<body>

  <%- include('../../includes/logoutHeader',{usuario}) %>

    <section class="container-fluid align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="col-3 rounded border">
          <p class="text-center h1 fw-bold mb-5  mx-1 mx-md-4 mt-2 pt-4" >Editar Usuário:</p>
          <form method="post" class="mx-1 mx-md-4">

            <div class="d-flex flex-row align-items-center mb-4">
              <i class="fas fa-user fa-lg me-3 fa-fw"></i>
              <div class="form-outline flex-fill mb-0">
                <input type="text" id="name" name="name" class="form-control" placeholder="Nome" />
              </div>
            </div>

            <div class="d-flex flex-row align-items-center mb-4">
              <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
              <div class="form-outline flex-fill mb-0">
                <input type="email" id="email" name="email" class="form-control" placeholder="Email" />
              </div>
            </div>

            <div class="d-flex flex-row align-items-center mb-4">
              <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
              <div class="form-outline flex-fill mb-0">
                <input type="password" id="password" name="password" class="form-control" placeholder="Senha" />
              </div>
            </div>


            <div class="d-flex flex-row align-items-center justify-content-start px-4 mb-3">

            <p class="m-0">É um admin?</p>

            <div class="mx-4 d-flex flex-row align-items-center justify-content-start">
              <div class="form-check d-flex flex-row align-items-center justify-content-center">
                <input class="form-check-input" type="radio" name="isAdmin" value="true">
                <label class="form-check-label px-2" for="true">
                  Sim
                </label>
              </div>
              <div class="form-check d-flex flex-row align-items-center justify-content-center">
                <input class="form-check-input" type="radio" name="isAdmin" value="false"" checked>
                <label class="form-check-label px-2" for="false">
                  Não
                </label>
              </div>
            </div>

            </div>


            <div class="form-check d-flex justify-content-center mb-5">
              <input class="form-check-input me-2" type="checkbox" required id="form2Example3c" />
              <label class="form-check-label" for="form2Example3">
                Eu concordo com os <a href="#!">Termos de Serviço</a>
              </label>
            </div>

            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
              <button type="submit" class="btn btn-primary btn-lg mb-2">Atualizar</button>
            </div>


          </form>
        </div>
      </div>
    </section>


    <%- include('../../includes/footer') %>
      <%- include('../../includes/bootstrapjs') %>
</body>

</html>
