<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include('../../includes/bootstrapcss') %>
        <link rel="stylesheet" href=<%=css %>>
        <title>
            <%= title %>
        </title>
</head>

<body>

    <%- include('../../includes/header') %>
        <div class="wrapper">
            <h1>Insira os dados para atualizar o usuário:</h1>
            <form action=<%="/atualizarUsuario/" + id %> method="post">
                <div class="form-group">
                    <label for="name">Nome:</label>
                    <input id="name" name="name" type="text" required>
                </div>

                <div class="form-group">
                    <label for="password">Senha:</label>
                    <input id="password" name="password" type="password" required>
                </div>

                <div class="form-group">
                    <label for="email">E-mail:</label>
                    <input id="email" name="email" type="email" required>
                </div>

                <div class="form-group">
                    <label for="isAdmin">É admin:</label>
                    <div class="radio-group">
                        <input type="radio" name="isAdmin" value="true" id="isAdminTrue">
                        <label for="isAdmin">Sim</label>
                        <input type="radio" name="isAdmin" value="false" id="isAdminFalse">
                        <label for="isAdmin">Não</label>
                    </div>
                </div>

                <input type="submit" value="Submit">
            </form>
        </div>
        <%- include('../../includes/footer') %>
            <%- include('../../includes/bootstrapjs') %>
</body>

</html>